/*Set data for main view box of wiki*/
.md-main__inner {
  background-color: var(--md-default-bg-inner-color);
  /*background-color: color-mix(in srgb, var(--md-default-bg-inner-color) 75%, transparent);*/
  border-radius: 8px;
  flex-direction: row;
  color: var(--md-default-fg-color);
}

/* Use to debug page layers
* {
  background: rgb(0 100 0 / 0.1) !important;
}*/

/* Content expands to fill remaining space */
.md-content {
  flex: 1;           /* take up leftover space */
  min-width: 0;      /* prevent overflow issues */
  padding: 0;          /* remove padding */
  background-color: var(--md-default-bg-inner-color-darker);
  border-radius: 8px;
  font-size: 0.875rem;
}

.md-typeset h1, .md-typeset h2 {
  font-weight: 600;
}

/* Make the main container full-width and use flexbox */
.md-main__inner.md-grid {
  max-width: none;   /* remove restriction */
  width: 100%;       /* full width */
  margin: 0;
  padding: 0.5rem;     /* tiny padding around everything */
  display: flex;
  gap: 1rem;           /* space between sidebar & content */
  box-sizing: border-box;
}

/* Sidebar stays at fixed width */
.md-sidebar--primary {
  padding: 0;          /* remove padding inside */
  flex: 0 0 240px;   /* fixed width (adjust to taste) */
}

/*Add a box arround lists*/
.md-sidebar__inner {
  background-color: var(--md-default-bg-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

/*Remove background from side lists*/
/*.md-nav__title {
  border-radius: 16px;
  background-color: var(--md-default-bg-color-darker) !important;
  color: var(--md-title-color);
  text-align: center;
}*/
#__nav_1_label,
#__nav_2_label,
#__nav_3_label,
#__nav_4_label,
#__nav_5_label,
#__nav_6_label,
#__nav_7_label{
  border-radius: 16px;
  background-color: var(--md-default-bg-color-darker);
  box-shadow: 0 0 0 transparent !important;
  color: var(--md-title-color);
  text-align: center;
  justify-content: center; /* horizontal centering */
}

.md-ellipsis {
  color: var(--md-title-color);
}

/*Add a box arround the current selected list option*/
/*.md-nav__link--active {
  border-radius: 0.2em;
  padding: 0.2em;
  outline: 0.1em solid;
  margin-top: 0.1em !important;
  padding-bottom: 0.3em;
}*/


/* TODO fix toc hidden pages showing TOC in sidebar
.md-nav--primary .md-nav__link[for=__toc] ~ .md-nav {
  display: none;
}*/