/*Set data for main view box of wiki*/
.md-main__inner {
	background-color: var(--md-default-bg-inner-color);
	padding: 1rem;
	border-radius: 8px;
	display: flex;
	flex-direction: row; /* Sort By Column */
}
.md-main__inner.md-grid {
    max-width: 70rem;
}

/*Add padding around navigation*/
.md-sidebar--primary {
  padding: 1rem
}

/*Add padding around toc*/
.md-sidebar--secondary {
  padding: 1rem;
}

/*Add a box arround lists*/
.md-sidebar__inner {
	background-color: var(--md-default-bg-color);
	box-shadow: 0 4px 10px rgba(0,0,0,0.1);
	border-radius: 16px;
}

/*Remove background from side lists*/
.md-nav__title {
  background-color: transparent !important;
  box-shadow: 0 0 0 transparent !important;
  color : var(--md-title-color);
}
.md-nav__link {
  background-color: transparent !important;
  box-shadow: 0 0 0 transparent !important;
}
.md-ellipsis {
  color : var(--md-title-color);
}

/*Add a box arround the current selected list option*/
/*.md-nav__link--active {
  border-radius: 0.2em;
  padding: 0.2em;
  outline: 0.1em solid;
  margin-top: 0.1em !important;
  padding-bottom: 0.3em;
}*/
.md-nav--lifted > .md-nav__list > .md-nav__item--active > .md-nav__link {
  box-shadow: initial;
}

/*Idk*/
.md-sidebar__inner {
  padding-top: 0.1em;
}