/* Light mode theme*/
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #4051b5;
  --md-default-fg-color: #000000de;
  --md-default-fg-color--light: #111111de;
  --md-default-bg-color: #998f65;
  --md-default-bg-color-darker: #8a805b;
  --md-default-bg-inner-color: #e8deb5;
  --md-default-table-bg-color: #e5e5e5;
  --md-default-table-footer-bg-color: #bbbbbb;
  --md-default-table-footer-fg-color: #333333;
  --md-default-table-content-border-color: #464646;
  --md-title-color: var(--md-default-fg-color);
  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);
}

/* Dark mode theme*/
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #20285A;
  --md-default-fg-color: #bdbdb9ee;
  --md-default-fg-color--light: #c7c7c2ee;
  --md-default-bg-color: #454236;
  --md-default-bg-color-darker: #38362c;
  --md-default-bg-inner-color: #746F5A;
  --md-default-table-bg-color: #7f7f7f;
  --md-default-table-footer-bg-color: #5D5D5D;
  --md-default-table-footer-fg-color: #c1c1c1;
  --md-default-table-content-border-color: #000000;
  --md-title-color: var(--md-default-fg-color);
  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);
}

/* Darker mode theme*/
[data-md-color-scheme="pitch"] {
  --md-primary-fg-color: #161c3f;
  --md-default-fg-color: #ffffffef;
  --md-default-fg-color--light: #ffffff;
  --md-default-bg-color: #292720;
  --md-default-bg-color-darker: #1d1c17;
  --md-default-bg-inner-color: #4e4b3d;
  --md-default-table-bg-color: #5a5a5a;
  --md-default-table-footer-bg-color: #353535;
  --md-default-table-footer-fg-color: #afaeae;
  --md-default-table-content-border-color: #2e2e2e;
  --md-title-color: var(--md-default-fg-color);
  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);
}

/* Midnight mode theme*/
[data-md-color-scheme="midnight"] {
  --md-primary-fg-color: #0d1127;
  --md-default-fg-color: #ffffff;
  --md-default-fg-color--light: #ffffff;
  --md-default-bg-color: #181713;
  --md-default-bg-color-darker: #0c0c0a;
  --md-default-bg-inner-color: #201f19;
  --md-default-table-bg-color: #292929;
  --md-default-table-footer-bg-color: #131313;
  --md-default-table-footer-fg-color: #afaeae;
  --md-default-table-content-border-color: #ffffff;
  --md-title-color: var(--md-default-fg-color);
  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);
}